body{
}

.avatar{
   height: 300px;
    width: 300px;
}


td {
    overflow: hidden;
    align-content: center;
}
td a {
    display: block;
    margin: -10em;
    padding: 10em;
    color: black;

}
td a:hover{
    text-decoration: none;
    color: black;
}

.jumbo-index{
    background-color: rgba(250,250,250 ,0.4);

}
.jumbo-index-background{
    background-image: url("../img/annie-spratt-hCb3lIB8L8E-unsplash.jpg");
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: bottom;
}
main{
    min-height:100vh
}

footer{
    background-color: #343A40;
    padding: 20px;
    color: #F7F7F7;
}

.hiddenRow {
    padding: 0 !important;
}